node_modules
test-platform/node_modules
test-platform/.cache
test-platform/.next
test-platform/.vercel
test-platform/.vscode-test
test-platform/.vscode-test-playwright
allure-results
allure-report
test-results